.title {
    font-size: 3em;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Minecraft', sans-serif;
}
.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px; /* Ajusta este valor según el tamaño de tus botones */
    margin: 0 auto;
}

.answers-container button {
    margin: 10px; /* Añade margen alrededor de los botones para espacio */
}
.selection-button{
    border-radius: 8px;
    width: 350px;
    height: 50px;
    background-color: yellow;
    font-family: 'Minecraft', sans-serif;
    box-shadow: 0 4px 16px rgba(49, 13, 172, 1);
    font-size: 1.5vw; /* Ajusta este valor según tus necesidades */
    text-align: center; /* Centra el texto en el botón */
    white-space: normal; /* Permite que el texto se ajuste a varias líneas */
    word-wrap: break-word; /* Permite que las palabras largas se rompan en varias líneas */
}
.selection-button:hover{
    background-color: #ffcc00;
    color: rgba(255, 0, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}
.imagen{
    width: 40%;
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Minecraft', sans-serif;
}