header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    min-height: 60px;
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.9);
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}